@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot1 {
    transform: translateX(100%);
    background-color: #48bb78;
  }
.display-card{
    width: 600px;
}

@media (max-width:500px){
    .config{
        margin-right: 50px;
    }
    .main{
        flex-direction: column;
    }
    .tafoimg{
        margin-left: 0px;
    }
    .display{
        margin-left:25%;
        margin-bottom: 20px;
    }
    .display-card{
        width: 450px;
    }
}

.test1{
    left: 0px; top: 0px; 
    width: 120px; 
    height: 100px; 
    user-select: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      padding: 0px;
       margin: 0px; 
       border-width: 0px;
}